<div class="row justify-content-md-center ">
  <div class="card col-4 text-center">
    <div class="card-block ">
      <h4 class="card-title ">Edit details</h4>

      <div class="form-wrapper">
        <form name="form" (ngSubmit)="update()" #f="ngForm" novalidate>
            <input type="text" class="form-control" name="username" [(ngModel)]="publicDetails.username" #username="ngModel"
                   required placeholder="Username"/>
            <textarea type="text" class="form-control" name="bio" [(ngModel)]="publicDetails.bio" #username="ngModel"
                      required placeholder="Bio"></textarea>
          <input type="text" class="form-control" name="location" [(ngModel)]="publicDetails.location" #username="ngModel"
                 required placeholder="Location"/>
          <input type="text" class="form-control" name="website" [(ngModel)]="publicDetails.website" #username="ngModel"
                 required placeholder="website url"/>
          <input type="text" class="form-control" name="Avatar" [(ngModel)]="publicDetails.avatarPath" #username="ngModel"
                 required placeholder="Avatar image url"/>
          <hr>
          <button   class="btn btn-primary btn-block">Update</button>
        <hr>
        </form>




      </div>

    </div>
  </div>
</div>
